# Python 编译缓存
__pycache__/
*.pyc
*.pyo

# 模型权重（绝对不提交）
*.pth
*.ckpt
*.bin
*.onnx
checkpoints/
logs/
best_restore_rwkv_ref.pth

# 数据集
data/*
RefSR_data/*
# 如果你 data/ 里有少量配置文件想提交，可以放开特定文件：
!data/*.py
!RefSR_data/*.py

# CUDA 编译产物
*.o
*.so

# IDE
.vscode/
.idea/

# macOS
.DS_Store